* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* min-height:200px; */
}

.container {
    /* border:2px solid black;  */
    width: 80%;
    margin: 0px auto;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
}

.image-container {
    /* border:2px solid red; */
    width: 48%;
    height: 100%;
    display: flex;
    justify-content: space-around;

}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}


.text-container {
    /* border:2px solid green; */
    width: 48%;
}

.image-container-one {
    /* border:2px solid yellow; */
    width: 48%;
}

.image-container-one {
    /* width:100%; */
}

.image-container-two {
    /* border:2px solid aqua; */
    width: 48%;
}

.image-container-two>div {
    width: 100%;
    height: 24%;
    object-fit: cover;
    margin: 4px 0px;

    /* display:grid; */
}

.photo-college {
    display: flex;
}

.photo-college>div {
    width: 33%;
    height: 100%;
    display: flex;
    padding: 3px;
    /* justify-content:space-around; */
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items:center; */
    text-align: justify;
    padding: 10px;
}

.footer {
    margin-top: 20px;
    display: flex;
    /* height: 250px; */
    background-color: black;
    color: white;
}

.footer>div {
    width: 25%;
    padding: 50px;
    line-height: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.fa-brands{
    font-size:24px;
    margin: 10px 10px 0px 0px;
     
    
}

.news {
    display: grid;
    gap: 20px;
}
.btn{
    background-color:rgb(238, 88, 88);
    border:none;
}

.lower-footer{
    background-color:gray; 
    display:flex;
    justify-content:space-between;
    padding:20px 40px;
}

.lower-footer a{
    text-decoration:none;
    color:black;
}


@media screen and (max-width:576px) {
    .container {
        width: 100%;
        display: grid; 
    }

    .image-container {
        width: 100%;
        display: grid;
    }

    .text-container {
        width: 100%;
    }

    .image-container-one {
        /* width:100%; */
        /* height:100%; */
    }

    .photo-college {
        /* display:grid; */
        /* width:100%; */
        /* height:100%; */

    }

    .footer{
        display:grid;
        justify-content:center;
        align-items:center;
    }
    .footer div{
        width:100%;
    }
    .btn{
        width:100px;
        height:40px;
    }
    .input{
        width:200px;
        height:40px;
         
    }
    .lower-footer{
        display:grid;
        gap:15px;
    }
}